* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

input,
textarea,
select,
button {
  border: none;
  outline: none;
  font-family: 'Inter', sans-serif;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-input);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

:root {
  --dark-blue: #051d3b;
  --bg-input: rgba(255, 255, 255, 0.16);
  --bg-code: #141414;
  --color-input: #b6b6b6;
  --light-blue: #5081fb;
  --light-blue-transp: rgba(80, 129, 251, 0.16);
  --light-blue-2: #6bd1ff;
  --white: #ffffff;
  --btn-light-blue: #5081fb;
  --btn-dark-blue: rgba(80, 129, 251, 0.08);
}

body {
  background-color: var(--dark-blue);
  font-family: 'Inter', sans-serif;
  color: var(--white);
}

.container {
  padding: 25px 42px;
}

.grid {
  display: grid;
  grid-template: auto / 1fr 2fr 1fr;
}

header {
  height: 60px;
  margin-bottom: 40px;
}

header #logo img {
  height: 56px;
}

header #barra-pesquisa input {
  width: 100%;
  height: 100%;
  background: var(--bg-input);
  border-radius: 8px;
  padding: 0 14px;
  color: var(--white);
}

header #perfil {
  justify-self: flex-end;
  align-self: center;
}

header #perfil a {
  display: flex;
  align-items: center;
  gap: 6px;
}

section {
  height: 80vh;
}

#menu {
  margin-right: 40px;
  padding-left: 15px;
}

.subtitle {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  margin-bottom: 16px;
}

#menu ul li {
  margin-bottom: 16px;
}

#menu ul li a i {
  background-color: var(--light-blue-transp);
  padding: 14px 12px;
  border-radius: 15px;
  margin-right: 16px;
  transition: 0.6s;
}

#menu ul li a:hover > i {
  background-color: var(--light-blue);
}

#codigo .bg-codigo {
  background-color: var(--light-blue-2);
  width: 100%;
  height: 366px;
  border-radius: 8px;
  display: grid;
  place-items: center;
  padding: 32px;
}

#codigo #code {
  width: 100%;
  position: relative;
}

#codigo .bg-codigo #code textarea {
  background-color: var(--bg-code);
  color: var(--white);
  font-family: monospace;
  width: 100%;
  height: 302px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  padding: 40px 16px 16px;
}

.btn-mac {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 50px;
}

#btn-highlight {
  background-color: var(--btn-dark-blue);
  color: var(--white);
  width: 100%;
  height: 56px;
  border-radius: 8px;
  margin-top: 32px;
  cursor: pointer;
  transition: 0.6s;
}

#btn-highlight:hover {
  background-color: #0b276b;
}

#infos-projeto {
  margin-left: 40px;
}

#infos-projeto #seu-projeto input {
  background-color: var(--bg-input);
  color: var(--white);
  width: 100%;
  height: 50px;
  padding: 0 14px;
  border-radius: 8px;
  margin-bottom: 16px;
}

#infos-projeto #seu-projeto textarea {
  background-color: var(--bg-input);
  color: var(--white);
  width: 100%;
  height: 80px;
  padding: 10px 14px;
  border-radius: 8px;
}

#infos-projeto #personalizacao h4 {
  margin-top: 40px;
}

#infos-projeto #personalizacao select {
  background-color: var(--bg-input);
  color: var(--color-input);
  width: 100%;
  height: 50px;
  padding: 0 14px;
  border-radius: 8px;
  margin-bottom: 16px;
}

#infos-projeto #personalizacao input[type='color'] {
  background-color: var(--dark-blue);
  width: 100%;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 1px 6px;
}

#btn-salvar-projeto {
  background-color: var(--btn-light-blue);
  color: var(--white);
  width: 100%;
  height: 56px;
  border-radius: 8px;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.6s;
}

#btn-salvar-projeto:hover {
  background-color: rgb(25, 86, 238);
}

/* ================== STYLE DA PÃGINA COMUNIDADE ================== */

.grid-main-comunidade {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.grid-codigos-comunidade {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

#codigos .bg-codigos {
  background-color: var(--light-blue-2);
  width: 100%;
  border-radius: 8px;
  display: grid;
  place-items: center;
  padding: 24px;
}

#codigos .bg-color2 {
  background-color: #9aff6b;
}

#codigos .bg-color3 {
  background-color: #6b83ff;
}

#codigos .bg-color4 {
  background-color: #ffc46b;
}

#codigos .bg-color5 {
  background-color: #ff6bcd;
}

#codigos .code {
  width: 100%;
  position: relative;
}

#codigos .bg-codigos .code textarea {
  background-color: var(--bg-code);
  color: var(--white);
  font-family: monospace;
  width: 100%;
  height: 302px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  padding: 40px 16px 16px;
}

#codigos .bg-codigo .code .btn-mac {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 50px;
}

.post-projeto {
  background: rgba(0, 0, 0, 0.16);
  height: 176px;
  border-radius: 8px;
  padding: 24px;
}

.descricao-projeto h3 {
  margin-bottom: 8px;
}

.descricao-projeto p {
  margin-bottom: 24px;
}

.social-projeto {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.interacao-projeto {
  display: flex;
  gap: 15px;
  align-items: center;
}

.interacao-projeto i {
  padding-right: 4px;
}

.btn-social {
  background: none;
  margin: 0;
  cursor: pointer;
}

.btn-social i {
  color: #ffffff;
  font-size: 16px;
  transition: 0.6s;
}

.btn-social:hover > i {
  color: #5081fb;
}

.autor-projeto a {
  display: flex;
  align-items: center;
}

.autor-projeto img {
  height: 24px;
  margin-right: 5px;
}

@media only screen and (max-width: 869px) {
  .grid-main {
    grid-template: 100px auto / 2fr 1fr;
    grid-template-areas:
      'menu menu'
      'codigo infos-projeto';
  }

  #menu {
    grid-area: menu;
    margin-right: 0;
    padding-left: 0;
  }

  #menu ul {
    display: flex;
    gap: 30px;
  }

  #codigo {
    grid-area: codigo;
  }

  #infos-projeto {
    grid-area: infos-projeto;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 649px) {
  .grid-header {
    grid-template: auto 60px / 1fr 1fr;
  }

  header #perfil {
    justify-self: flex-start;
    align-self: flex-start;
  }

  .grid-main {
    grid-template: 100px auto auto / auto;
    grid-template-areas:
      'menu'
      'codigo'
      'infos-projeto';
    margin-top: 60px;
  }

  #infos-projeto {
    margin-left: 0;
  }
}

@media only screen and (max-width: 454px) {
  .grid-main {
    grid-template: 150px auto auto / auto;
    grid-template-areas:
      'menu'
      'codigo'
      'infos-projeto';
  }

  #menu ul {
    display: block;
  }
}

@media only screen and (max-width: 399px) {
  .container {
    padding: 25px 20px;
  }

  #codigo .bg-codigo {
    padding: 10px;
  }
}
